.header-section{
    position: relative;
}

.header-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)!important;
    width: 100%;
    height: 100%;
}
.header-section::after{
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    background: rgb(196,193,193);
    background: linear-gradient(180deg, rgba(44, 43, 43, 0.056) 0%, rgba(76, 77, 75, 0.93) 47%, rgba(127, 126, 128, 0.981) 100%);    width: 100%;
    height:30vh;
}
.btn-header-section{
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
}
.header-title{
    font-size: 55px!important;
    font-weight: 700!important;
    letter-spacing: 1px;
}
.header-parag{
    letter-spacing: 1px;
    line-height: 1.5;
}
.btn-list,.btn-view{
    background-color: rgba(102, 14, 14, 0.8);
    padding: 10px 30px!important;
}